body {
    background-color: hwb(35 80% 0%);
    font-family: sans-serif;
  }
  
  h1 {
    color: hwb(35 0% 40%);
    text-transform: uppercase;
  }
  
  p {
    font-size: 2rem;
  }
  
  p.intro {
    color: hwb(35 0% 0%);
  }
  
  summary {
    font-size: 4rem;
  }
  
  span.par {
    background-color: white;
  }
  
  span.impar {
    background-color: hwb(325 80% 0%);
  }

  p.mclibre a {
    color: rgb(96, 184, 195);
    text-decoration: underline;
}

p.mclibre {
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    margin: 0;
    padding: 0.25em 0 0.25em;
    border-top: black 2px solid;
    background-color: white;
    color: black;
    font-size: 0.8rem;
    text-align: center;
   
}