body {
    background-color: hwb(145 15% 45%);
    font-family: sans-serif;
}

h1 {
    font-size: 300%;
    text-transform: capitalize;
}

p {
    font-size: 150%;
}

p.infancia {
    color: white;
    font-family: serif;
    font-style: oblique;
}

p.animales {
    color: hwb(35 70% 0%);
    font-family: sans-serif;
}

p.literatura {
    color: hwb(35 10% 0%);
    font-family: monospace;
    font-size: 200%;
}

p.numeros {
    color: hwb(345 10% 10%);
    font-family: cursive;
}

p.mclibre {
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    margin: 0;
    padding: 0.25em 0 0.25em;
    border-top: black 2px solid;
    background-color: white;
    color: black;
    font-size: 0.8rem;
    text-align: center;
   
}